/* TEAL #07DFBB */

body
{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(img/monochrome_abstract-197369.jpg);
    background-size: cover;
}
.navbar
{
    background-color: transparent!important;
    padding: 0;
}

#navbarTogglerDemo02 ul a
{
    /* background-color: transparent!important; */
    display: flex;
    justify-content: center;
    color: #07DFBB;
    font-size: 60px;
    /* margin-bottom: 2%; */
    margin-top: 5%;
}

#navbarTogglerDemo02
{
    backdrop-filter: blur(10px);
    /* background-color: red; */
    position: absolute;
    margin-top: 91vh;
    height: 100vh;
    width: 100vw;
}

/* LOGO */
.navbar-brand img
{
    width: 70px;
    margin-top: 1vh;
    margin-left: 0.5vw;
}

/*.navbar-toggler
{
    color: #008060!important;
}*/

/* ICONE MENU EN HAUT A DROITE */
button img
{
    position: absolute;
    z-index: 1000;
    width: 5rem;
    margin-left: -3.8em;
    margin-top: -1.5em;
}

button:focus
{
    display: none;
}