/* TEAL #07DFBB */

body
{
    margin: 0;
    padding: 0;
    background-color: #1d1e1f;
    /* background-image: url(img/monochrome_abstract-197369.jpg);
    background-size: cover; */
}

/* HEADER */

.navbar
{
    background-color: transparent!important;
    padding: 0;
}

#navbarTogglerDemo02 ul a
{
    /* background-color: transparent!important; */
    display: flex;
    justify-content: center;
    color: #07DFBB;
    font-size: 60px;
    /* margin-bottom: 2%; */
    margin-top: 5%;
}

#navbarTogglerDemo02
{
    backdrop-filter: blur(10px);
    /* background-color: red; */
    position: absolute;
    margin-top: 91vh;
    height: 100vh;
    width: 100vw;
}

/* logo */
.navbar-brand img
{
    position: absolute;
    z-index: 1;
    width: 50px;
    margin-top: 0.2em;
    margin-left: 0.8em;
}

/* Icone menu en haut à droite */
button img
{
    position: absolute;
    z-index: 1;
    width: 3em;
    margin-left: -3em;
    margin-top: 0.2em;
}

button:focus
{
    display: none;
}

/* SECTION 1 - #HOME */

#home
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

.skeuomorphism
{
    width: 80vw;
    height: 70vh;
    border-radius: 30px;
background: linear-gradient(145deg, #1d1e1f, #222324);
box-shadow:  15px 15px 30px #1d1e1f, -15px -15px 30px #232425;
}